@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ProductModel

@{
    ViewData["Title"] = "Product Detail";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<table class="table table-hover table-responsive">
    <tr>
        <td>Name</td>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <td>Image</td>
        <td><img src="~/images/@Model.ProductImage" class="img-fluid rounded" /></td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.ProductDescription</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Model.ProductPrice.ToString("C2")</td>
    </tr>
</table>
<a asp-controller="Product" asp-action="ListProducts" class="btn btn-primary">Back to List</a>