@{
    ViewData["Title"] = "About";
}
@*### Add a Razor view for the About page. Add this view to the Views/Home folder and name it About.cshtml.  
    Add code to this page to display information about your retail store. Your information must include a brief history of your store (3 sentences), 
    the mission of the store (3 sentences),  and a vision of the store (3 sentences). Include a title and heading for this page. Include the following 
    subheadings on this page – History, Mission, and Vision. Look at sample websites to get ideas of content included in About us pages.
*@

<div class="text-center">
    <h1 style="color:red;" class="display-4">About Us</h1>
</div>

<main class="container">
    <div>
        <div>
            <img style="display: block;  margin-left: auto;  margin-right: auto;  width: 50%;" class="center" src="~/images/store front.jpg" />
        </div>
        <div>
            <h2 class="text-center vertical-center">History of Steven's Game Corner</h2>
            <p>
                Steven's Game Corner is the premier destination for games and gaming accessories. 
                Since our inception in 2023, we have delivered one-of-a-kind shopping experiences, featuring a curated assortment of gaming accessories and highly personalized customer service. 
                Our approach combines an emphasis on the physical accessories that enhance a gaming experiance with a strong connection to a many different producers world-wide.  
            </p>
        </div>
        <div>
            <h2 class="text-center">Misson</h2>
            <p>
                To enchance the lives of gamers and the people they play with. 
                Through the innovation of new tools, we enable the people to enhance their gaming experiance.
                Driven by a mission to help gamers with the tools they need to take their games to the next level. 
            </p>
        </div>
        <div>
            <h2 class="text-center">Vision</h2>
            <p>
                We hope to be produce top level accessories that allow the highes amount of immersion and play in the games people play.
                We aim to become the worlds number one destination for all things gaming. 
                We hope that all gamers worldwide are able to exponentially increase their enjoyment of games.
            </p>
        </div>
    </div>
</main>