@{
    ViewData["Title"] = "Events";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>



<div class="card" style="width: 18rem;">
    <img src="~/images/fnm.jpg" class="card-img-top" alt="Friday Night Magic" />
    <div class="card-body">
        <h5 class="card-title">Friday Night Magic</h5>
        <p class="card-text">Open to all players and running in thousands of stores across the globe each Friday night, "FNM" is a chance to catch up with your friends, make new ones and of course, play some Magic!</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Age: 14+</li>
        <li class="list-group-item">Time: Fridays 7:00 PM</li>
        <li class="list-group-item">Location: 1240 E 9th St, Cleveland, OH 44199</li>
    </ul>
    <div class="card-body">
        @*Registration link not active*@
        <a href="#" class="card-link">Register</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="~/images/download.png" class="card-img-top" alt="Dungeons & Dragons" />
    <div class="card-body">
        <h5 class="card-title">Dungeons & Dragons Intro One Shot</h5>
        <p class="card-text">Join us for an introductory game of Dungeons & Dragons. Hurry, only 5 spots available!</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Age: 15+</li>
        <li class="list-group-item">Time: Thursdays 6:00 PM</li>
        <li class="list-group-item">Location: 1240 E 9th St, Cleveland, OH 44199</li>
    </ul>
    <div class="card-body">
        @*Registration link not active*@
        <a href="#" class="card-link">Register</a>
    </div>
</div>


<div class="card" style="width: 18rem;">
    <img src="~/images/boardGames.jpg" class="card-img-top" alt="Board Games" />
    <div class="card-body">
        <h5 class="card-title">Board Game Open House</h5>
        <p class="card-text">Join us for a fun night of trying and playing a huge collection of board games </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Age: 14+</li>
        <li class="list-group-item">Time: Saturday 7:00 PM</li>
        <li class="list-group-item">Location: 1240 E 9th St, Cleveland, OH 44199</li>
    </ul>
    <div class="card-body">
        @*Registration link not active*@
        <a href="#" class="card-link">Register</a>
    </div>
</div>


<div class="card" style="width: 18rem;">
    <img src="~/images/Super_Smash_Bros._Ultimate.jpg" class="card-img-top" alt="Super Smash Bros" />
    <div class="card-body">
        <h5 class="card-title">Super Smash Bros Tournament</h5>
        <p class="card-text">Register for an in house Super Smash Brother Ultimate Tournament. Prizes based on turnout </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Age: 14+</li>
        <li class="list-group-item">Time: Sunday 5:00 PM</li>
        <li class="list-group-item">Location: 1240 E 9th St, Cleveland, OH 44199</li>
    </ul>
    <div class="card-body">
        @*Registration link not active*@
        <a href="#" class="card-link">Register</a>
    </div>
</div>