@{
    ViewData["Title"] = "FAQ";
}

<div class="text-center">
    <h1 style="color:blue; font-family: 'Henny Penny';" class="display-4">Frequently Asked Questions</h1>
</div>


<div class="accordion" id="accordionExample">


    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong>What payment options are accepted?</strong>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                We accept PayPal, and the major credit cards (Visa, MasterCard, Discover Card, American Express). We also have payment options via GooglePay and ShopPay.
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>Do you offer gift wrapping?</strong>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                We do not offer any gift wrapping services
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong>I got my order and I decided I do not want it (either the whole order or a portion) anymore, how to I return it?</strong>
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Place the item(s) in their original packaging in a package and address it to the following address:<br>

                <address>
                    SGC Store - RETURNS<br>
                    1234 Main Streen<br> 
                    Cleveland, OH 44199<br>
                    USA<br>
                </address>
                

                Please include a note indicating the reason for the return. The customer is responsible for postage/shipping fees to return anything that is unwanted/unneeded. When the item(s) are received, we will process a refund for the items within the order, but none of the postage/shipping fees will be refunded.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <strong>How are refunds applied?</strong>
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                The refund will be credited to the original payment method associated with the order and will depend upon the refund deadlines associated with those payment methods.  If a refund cannot be processed because the refund deadline has passed, a gift card for the value of the refund will be issued via e-mail to the e-mail address associated with the order.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <strong>My order hasn't shipped yet, how do I cancel it?</strong>
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                E-mail <a href="mailto:support@stevensgamecorner.com">support@stevensgamecorner.com</a> as soon as possible.
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <strong>My question is not answered on any of the other pages, how do I contact you?</strong>
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                E-mail <a href="mailto:contact@stevensgamecorner.com">contact@stevensgamecorner.com</a>. We respond to e-mails Monday through Friday, though it may take a couple of days to respond.
            </div>
        </div>
    </div>
</div>
