@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<img src="~/images/game_corner2.jpg" />

<p>
    Greetings gamers! Welcome to Steven’s Game Corner. Here you can find many things that can suit your gaming needs.
</p>
<p>
    At Steven’s Game Corner we realize that there are many different types of gamers. Therefore, we have many different options one can choose from. 
    Regardless if you are in the market for a simple family board game, a complex multi-person board game, or just want a few extra accessories, we have you covered.
</p> 
<p>
    There are many new and exciting things coming in the future so keep an eye out for some new products to reach the shelves.
</p>