@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
@*### Add a Razor view for the About page. Add this view to the Views/Home folder and name it About.cshtml.  
    Add code to this page to display information about your retail store. Your information must include a brief history of your store (3 sentences), 
    the mission of the store (3 sentences),  and a vision of the store (3 sentences). Include a title and heading for this page. Include the following 
    subheadings on this page – History, Mission, and Vision. Look at sample websites to get ideas of content included in About us pages.
*@

<div class="text-center">
    <h1 class="display-4">About Us</h1>
</div>

<main class="container">

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <h2>History of Steven's Game Corner'</h2>
            <p>
                Steven's Game Corner is the premier destination for games and gaming accessories. Since our inception in 2023, we have delivered 
                one-of-a-kind shopping experiences, featuring a curated assortment of gaming accessories and highly personalized customer service. 
                Our unique approach combines an emphasis on the digital customer experience with a strong connection to a network of 41 extraordinary stores 
                across North America for seamless, all-channel shopping.
            </p>
        </div>
        <div class="col-md-4 col-sm-6">
            <h2>Misson</h2>
            <p>
                Driven by a mission to help customers cultivate their own gaming .
            </p>
        </div>
        <div class="col-md-4 col-sm-6">
            <h2>Vision</h2>
            <p>
                Greetings gamers! Welcome to Steven’s Game Corner. Here you can find many things that can suit your gaming needs.
            </p>
        </div>
    </div>
</main>