@{
    ViewData["Title"] = "Home Page";
}



<main class="container">
    <div class="row">
        <div class="col-4">
            <img alt="Store logo" src="~/images/game_corner2.jpg" class="img-fluid rounded" />
        </div>
        <div class="col-8">
            <div class="text-center title">
                <h1 class="display-4">Welcome to Steven's Game Corner</h1>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Greetings gamers! Welcome to Steven’s Game Corner. Here you can find many things that can suit your gaming needs.
            </p>
            <p>
                There are many new and exciting things coming in the future so keep an eye out for some new products to reach the shelves.
            </p>
        </div>
        <div class="col">
            <p>
                At Steven’s Game Corner we realize that there are many different types of gamers. Therefore, we have many different options one can choose from.
                Regardless if you are in the market for a simple family board game, a complex multi-person board game, or just want a few extra accessories, we have you covered.
            </p>
        </div>
    </div>
</main>
