@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Steven's Game Corner</h1>
</div>


<header>
    <div>
        <img src="~/images/game_corner2.jpg" class="img-fluid rounded" />
    </div>
</header>
<main class="container">

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <p>
                Greetings gamers! Welcome to Steven’s Game Corner. Here you can find many things that can suit your gaming needs.
            </p>
        </div>
        <div class="col-md-6 col-sm-8">
            <p>
                At Steven’s Game Corner we realize that there are many different types of gamers. Therefore, we have many different options one can choose from.
                Regardless if you are in the market for a simple family board game, a complex multi-person board game, or just want a few extra accessories, we have you covered.
            </p>
            <p>
                There are many new and exciting things coming in the future so keep an eye out for some new products to reach the shelves.
            </p>
        </div>
    </div>
</main>



